@font-face {
    font-family: 'Guilder';
    src: url('../fonts/guilder_free-webfont.otf');
    font-weight: normal;
    font-style: normal;

}

/* Space out content a bit */
body {
  padding-bottom: 20px;
  background-color: #3d3d3d;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.total-raised-bar {
  float: left;
}

.count {
  margin-top: 25px;
}

.hq-map {
  width: 100%;
  height: 100%;
  min-height: 360px;
}


/* BEGIN DATA SET CONTAINER */

.data-set-container{
  border-top: 1px solid #60beff;
  background-color: rgba(70, 84, 93, 0.5);
  padding: 20px;
  box-sizing: border-box;
}

.data-set-container h3{
  font-family: 'Guilder';
  font-size: 53px;
  color: #ffffff;
  vertical-align: bottom;
}

.data-set-container p{
  margin-top: 50px;
  color: #ffffff;
}

.data-set-container .textlist{
  border: 1px solid #60beff;
}

.data-set-container .form-group{
  margin-bottom: 0px;
  margin-top: 0px;
}

.data-set-container .dataset {
  height: 300px;
  overflow: scroll;
  background-color: rgba(70, 84, 93, 0.5);
  color: #ceecff;
}

.data-set-container td{
  border-top: 1px solid #60beff;
}

.data-set-container .input-group{
  display: block;
}

.data-set-container input{
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #60beff;
  width: 100%;
  background-color: rgba(70, 84, 93, 0.5);
}

.data-set-container ::-webkit-scrollbar {
  display: none;
}

/* END DATA SET CONTAINER */

.spacing-med {
  margin-top: 10px;
  margin-bottom: 10px;
}

.clear-both {
  clear: both;
}


