/* Space out content a bit */
body {
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.total-raised-bar {
  float: left;
}

.hq-map {
  width: 470px;
  height: 353px;
}

.textlist {
  padding: 10px;
  background-color: #C4DEEF;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.textlist .dataset {
  height: 300px;
  overflow: scroll;
  background-color: #f9f9f9;
}

.spacing-med {
  margin: 5px 0;
}

.clear-both {
  clear: both;
}


