@cloudspace:                  #1861b2;
@bright-blue:                 #60beff;
@pale-blue:                   #cdebff;
@deep-blue:                   #1961b2;
@transparent-blue:            rgba(70, 84, 93, 0.5);

@dark-grey:                   #3d3d3d;
@dark-grey2:                  #3f4143;
@medium-grey:                 #5e5e5e;
@medium-grey2:                #4a4b50;
@medium-grey3:                #54575c;
@light-grey:                  #959597;
@light-grey2:                 #ededed;
@white:                       #ffffff;

@faq-text:                    #AFAFAF;

@grey-blue:                   #4c6d84;
@dark-grey-blue:              #41484C;
@dark-grey-blue2:             #404041;
@dark-grey-blue3:             #27292d;

@active-container-blue:       #2b8fff;

@button-yellow:               #f6d64f;
@button-green:                #1AC26A;
@button-blue:                 #00BFFA;

@font-face {
    font-family: 'Guilder';
    src: url('/fonts/guilder.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('/fonts/BebasNeue.eot');
    src: url('/fonts/BebasNeue.eot?#iefix') format('embedded-opentype'),
         url('/fonts/BebasNeue.woff') format('woff'),
         url('/fonts/BebasNeue.ttf') format('truetype'),
         url('/fonts/BebasNeue.svg#BebasNeue') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Proxima Nova is loaded via JavaScript in index.html */

@font-proxima-nova: "proxima-nova-1", "proxima-nova-2", sans-serif;
@font-guilder: "Guilder", "sans-serif";
@font-bebas: "BebasNeue", "sans-serif";

.brush .extent {
  fill-opacity: .125;
  fill: steelBlue;
  shape-rendering: crispEdges;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

.selected {
  fill: brown;
}

/* Space out content a bit */
body {
  background-color: @dark-grey;
}

.drag-contain {
  position: relative;
}

.drag-contain > div {
  height: 365px;
  width: 365px;
  position: absolute;
}

.drag-contain .ss-dragged-child {
    box-shadow:  0px 0px 35px rgba(0, 0, 0, .7);
}

.drag-contain .ss-placeholder-child {
    background: transparent;
    border: 1px dashed gray;
}

.data-set-container .placeholder {
    text-align: center;
    line-height: 270px;
    font-size: 55px;
    background: #666;
    margin: 0;
}

header{

  /*background-image: url('/images/cloud.png');*/
  padding-bottom: 15px;

  .row{
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid @bright-blue;
  }

  img{
    display: inline;
    float: left;
  }

  .header-text{
    margin-left: 30px;
    float: left;
    h1{
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: 'BebasNeue';
        font-size: 68px;

        a{
          color: @pale-blue;

          span{
            color: @white;
          }
        }
    }

    h2{
      margin-top: 0px;
      font-size: 13px;
      color: @white;
    }
  }
}



/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.count {
  margin-top: 25px;
}

.hq-map {
  width: 100%;
  height: 100%;
  min-height: 360px;
}

.cloud{
  clear:both;
  margin: 0 -20px;
}

.data-set-container{
  background-color: @dark-grey-blue;
  padding-bottom: 15px;
  box-sizing: border-box;
  border-top: 1px @bright-blue solid;
  overflow: auto;

  .head {
    overflow: auto;
    padding: 0 15px;
  }

  .drag-handle {
    height: 15px;
    margin-bottom: 5px;
    background: @bright-blue;
    cursor: move;
  }

  h3{
    font-family: 'Guilder';
    font-size: 38px;
    color: @white;
    vertical-align: bottom;
    margin-top: 10px;
  }
  
  p{
    color: @white;
  }
  
  .textlist{
    border: 1px solid @bright-blue;
    margin: 0 15px;
  }
  
  .form-group{
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .dataset {
    overflow: scroll;
    background-color: @transparent-blue;
    color: #ceecff;
  }

  tbody tr td{
    border-top: 1px solid @bright-blue;
    position: relative;
    padding: 0;
  }

  tbody tr a {
    display: none;
    color: #bbb;
  }

  tbody tr a:hover {
    color: #eee;
  }

  tbody tr:hover {
    background: rgba(80, 90, 100, 1)
  }

  tbody tr.selected {
    background: #08c;
  }

  tbody tr:hover a {
    display: inline;
  }

  .input-group{
    display: block;
  }

  input{
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid @bright-blue;
    width: 100%;
    background-color: @transparent-blue;
    color: @white;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

.spacing-med {
  margin-top: 10px;
  margin-bottom: 10px;
}

.clear-both {
  clear: both;
}

.remove-selected {
  text-align: right;
}

/* Chart Axis styles */
.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.value {
  font: 10px sans-serif;
  color: #fff;
}

.x.axis path {
  height: 1px;
}


.state {
  cursor: pointer;
}
.overlay {
  fill: none;
  pointer-events: all;
}
.state-boundary, .county-boundary {
  fill: none;
  stroke: #41484C;
  stroke-linejoin: round;
  stroke-linecap: round;
}

#loading {
  position: fixed;
  left: 50%;
  width: 200px;
  top: 10px;
  text-align: center;
  margin-left: -100px;
  z-index: 999;
}

.alert-scream {
  background-color: #ff0;
}

.dataset td>div {
  padding: 8px;
}

.dataset td>a {
  position: absolute;
  right: 14px;
  top: 9px;
}

footer {
  margin-top: 30px;
  color: #fff;
  text-align: center;
}

.list-item {
  cursor: pointer;
}


#splash,
#about {
  display:                  block;
  width:                    100%;
  min-height:               600px;
  background:               @white;
  position:                 relative;
  font-family:              @font-proxima-nova;
}

#about {
  
  #about-header {

    nav, ul, li {
      display:              inline;
    }

    ul {
      float:                right;
    }

    li {
      list-style-type:      none;
      margin-left:          60px;

      a {
        text-decoration:    none;
        color:              @dark-grey2;
      }
    }

    padding-top:            30px;
    padding-bottom:         30px;
    max-width:              1080px;
  }


  #contact-us {
    p {
      font-size:            30px;
      color:                @white;
      margin-bottom:        30px;
      font-weight:          200;
    }

    a {
      padding:              10px 40px 10px 40px;
      border-radius:        40px;
      background-color:     @button-yellow;
      display:              inline-block;
      text-decoration:      none;
      color:                @dark-grey-blue2;
    }

    padding-top:            50px;
    padding-bottom:         50px;
    background-color:       @dark-grey-blue3;
  }


  #pop-quiz {
    .ellipsis {
      display:              inline;
    }

    .continuation, button {
      display:              none;
    }

    .triangle {
        position:           absolute;
        left:               -19px;
        top:                24px;
        color:              @white;
        text-shadow:        @light-grey2 -3px 0px 4px;
    }

    ul {
      display:              inline-block;
      margin-left:          auto;
      margin-right:         auto;
      border-left:          solid 5px @light-grey2;
      max-width:            800px;
      
      li {
        color:              @light-grey;
        text-align:         left;
        padding:            20px 40px 20px 40px;
        margin-top:         10px;
        margin-bottom:      10px;
        border:             solid 1px @light-grey2;
        border-radius:      5px;
        box-sizing:         border-box;
        box-shadow:         @light-grey2 0px 2px 4px 0px;
        list-style-type:    none;
        position:           relative;
      }


      li:before{
        content:            " ";
        padding:            10px;
        border-radius:      10px;
        background-color:   @light-grey2;
        box-shadow:         @light-grey2 0px 2px 4px 0px;
        position:           absolute;
        left:               -54px;
        top:                27px;
      }

      li.active:before{
        position:           absolute;
        left:               -54px;
        top:                53px;
        background-color:   @active-container-blue;
      }

      li.active {
        padding:            180px 120px 20px 120px;
        background:         @active-container-blue url('../images/check_mark.png') center top 40px no-repeat;
        color:              @white;
        text-align:         center;
        margin-bottom:      20px;

        .triangle{
          border-right:     10px solid @active-container-blue;
          top:              50px;
          color:            @active-container-blue;
        }

        .ellipsis {
          display:          none;
        }

        .continuation, button {
          display:          inline;
        }

        button {
          margin-top:       50px;
          margin-bottom:    10px;
          background-color: @white;
          border:           none;
          color:            @active-container-blue;
          padding:          5px 30px 5px 30px;
          border-radius:    5px;
        }
      }
    }

    padding-top:            100px;
  }


  #faq {
    h4 {
      text-align:           center;
      font-size:            20px;
      color:                @dark-grey2;
      margin-bottom:        80px;
    }

    h5{
      font-size:            16px;
      color:                @dark-grey2;
      margin-bottom:        30px;
    }

    ul {
      margin-left:          auto;
      margin-right:         auto;
      margin-bottom:        50px;
      padding-left:         0px;
      padding-right:        0px;
      width:                850px;
      text-align:           center;

      li {
        list-style-type:    none;
        display:            inline;
        margin-right:       5px;
        margin-left:        5px;
      }
    }

    hr{
      width:                400px;
      margin-bottom:        70px;
    }
    
    button {
      border:               none;
      background-color:     @button-green;
      color:                @white;
      font-size:            20px;
      border-radius:        5px;
      width:                320px;
      padding-top:          20px;
      padding-bottom:       20px;
    }

    button:focus {
      border:               none;
    }

    button.blue {
      background-color:     @button-blue;
    }

    p {
      text-align:           left;
      font-size:            16px;
      line-height:          32px;
      color:                @faq-text;
    }
  }
    
  h3, p, #contact-us, #pop-quiz {
    margin-left:            auto;
    margin-right:           auto;
    text-align:             center;
    margin-bottom:          70px;
  }

  h2 {
    display:                inline;
    font-size:              26px;
    font-family:            'futura-pt-1', 'futura-pt-2', Arial, sans-serif;;
    letter-spacing:         1px;
    color:                  @cloudspace;
    background:             url('/images/cloudspace-logo-blue-and-white.png') 0 0 no-repeat;
    padding:                5px 0px 10px 95px;
  }

  h3 {
    color:                  @medium-grey3;
    max-width:              780px;
    font-size:              32px;
    font-weight:            200;
  }

  p {
    color:                  @medium-grey;
    max-width:              1080px;
  }

  em {
    font-style:             normal;
    font-weight:            900;
    color:                  @deep-blue;
  }

  strong {
    color:                  @medium-grey2;
    font-weight:            900;
  }

  font-size:                24px;
}

footer {
  background:               @cloudspace url('../images/large-cloudspace-logo-blue.png') right top 65px no-repeat;
  color:                    @white;
  margin-top:               0px;
  margin-bottom:            0px;

  ul, p {
    margin-left:            auto;
    margin-right:           auto;
  }

  p {
    max-width:              800px;
    font-size:              48px;
    line-height:            48px;
    padding-top:            90px;
  }
  ul {
    li {
      font-size:            30px; 
      list-style-type:      none;
      float:                left;
      padding-right:        15px;
      padding-left:         15px; 
    }

    li:last-of-type {
      border-left:          solid 3px @white;
    }

    display:                inline-block;
    padding-top:            40px;
    padding-bottom:         60px;
    padding-left:           0px;
  }
}



#splash {
  background: url('/images/burner.jpg');
  background-size: cover;
  background-position: 50% 50%;
}

#nav {
  display: block;
  width: 100%;
  height: 50px;
  background: black;
  color: #fff;
  position: absolute;
  bottom: 0;
}

#splash {

  .header-text {

    padding-top: 180px;

    color: #ffffff;

    max-width: 975px;
    margin: 0 auto;
    text-align: center;

    p {
      font-family: @font-proxima-nova;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
      font-weight: 700;

      &.tagline {
        font-size: 37px;
        line-height: 37px;
        padding-bottom: 35px;
      }
      &.tagline-quote {
        font-size: 34px;
        line-height: 37px;
      }
      &.tagline-author {
        font-size: 23px;
      }
    }
  }

  .watch-video {
    /*padding-bottom: 85px;*/
    height: 0px;
  }
}

#nav {
  nav {
    width: 1200px;
    margin: 0 auto;
  }

  position: relative;

  font-family: @font-proxima-nova;

  border-top: 1px solid #2d2d2e;
  border-bottom: 1px solid #2d2d2e;
  height: 65px;
  background: #232528;

  .logo {
    width: 54px;
    height: 39px;
  }

  h1 {
    font-size: 20px;
    color: #fff;
    font-family: @font-proxima-nova;
    display: inline;
  }

  .share-results {
    display: inline;
  }

  .counter,
  .share {
    display: inline;
    text-align: right;

    ul {
      display: inline;
      margin: 0;
      padding: 0;
    }
    li {
      list-style-type: none;
      display: inline-block;
    }
  }

  .share {
    float: right;
  }
}

#filters {
  width: 100%;
  background: green;

  ul {
    width: 1200px;
    margin: 0 auto;
    background: red;
    padding: 0;
  }
  li {
    background: blue;
    list-style-type: none;
    display: inline-block;
    min-width: 200px;
    margin-right: 20px;
  }
}
