<!doctype html>
<html ng-app="crunchinatorApp" ng-controller="AppCtrl" class="ng-scope">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title ng-bind="pageTitle"></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Typekit Fonts -->
        <script type="text/javascript" src="//use.typekit.net/rxk7mer.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <!-- build:css({.tmp,app}) styles/main.css -->
        <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/boilerplate.css">
        <!-- endbuild -->

        <link rel="icon" href="images/favicon.png" />
        <meta property="og:image" content="http://cloudspace.com/assets/images/crunch-preview-small.png" />
        <meta property="og:title" content="Realtime Filtering for Crunchbase Data" />
        <meta property="og:url" content="http://crunchinator.com" />
        <meta property="og:description" content="The Crunchinator is a free and open source tool that enables you to slice, filter and explore Crunchbase data in realtime. Find your next investor in seconds." />

        <!--[if lt IE 9]>
        <script src="vendor/es5-shim/es5-shim.js"></script>
        <script src="vendor/json3/lib/json3.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="fb-root"></div>
        <script>
            //Facebook
            window.fbAsyncInit = function() {
                FB.init({ appId: '505638872880080', status: true, xfbml: true });
            };
            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

        </script>
        <!-- Add your site or application content here -->

        <div id="splash" role="splash" ng-cloak ng-if="!isIE && !isMobile">
            <a class='forkme' target='_blank' href='https://github.com/cloudspace/angular.crunchinator.com'
                onClick="ga('send', 'event', 'Navigation', 'Click', 'Fork me Splash');"
            >
                <img src='images/forkme_right_ribbon.png' alt='Fork me on GitHub' />
            </a>
            <div class='initializing'>
                <div class='header-text'>
                    Slice, Filter &amp; Explore CrunchBase Data
                </div>
                <video ng-if="!shared_results" preload="" width="720" height="450">
                    <source src="data/NYConsumerWebCosShortIntro.webm" type="video/webm">
                    <source src="data/NYConsumerWebCosShortIntro.mp4" type="video/mp4">
                </video>
            </div>
        </div>

        <div id="main" role="main" ui-view="main" ng-cloak ng-if="!isIE && !isMobile">
        </div>

        <div id="about" role="about" ui-view="about" ng-cloak ng-if="!isIE && !isMobile">
        </div>

        <footer id="footer" ng-cloak ng-if="!isIE && !isMobile">
            <p>
                We build new businesses for successful companies.
                What can we build for you?
            </p>
            <ul>
                <li>
                    <a href='mailto:sales@cloudspace.com?subject=What you can build for me.'>sales@cloudspace.com</a>
                </li>
                <li>877.823.8808</li>
            </ul>
        </footer>


        <div class='hero' ng-cloak ng-if="isIE">
            <div class='banner'>
                <div class='logo'>
                    <img src="images/logo.png"/>
                    <h1>Crunchinator</h1>
                </div>
                <div class='message'>
                    The Crunchinator does not currently support Internet Explorer due to poor Javascript performance. <br />
                    Please check us out with
                    <a href='https://www.google.com/intl/en/chrome/browser/'>Chrome</a>,
                    <a href='http://www.mozilla.org/en-US/firefox/new/'>Firefox</a>,
                    or <a href='https://www.apple.com/safari/'>Safari</a>.
                </div>
            </div>
        </div>

        <div class='unsupported' ng-cloak ng-if="isMobile">
            <div class='logo'>
                <img src="images/logo.png"/>
                <h1>Crunchinator</h1>
            </div>
            <p>Because of screen and UI constraints, the Crunchinator needs to be viewed on a traditional Mac or PC</p>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <!-- build:js({.tmp,app}) scripts/libraries.js -->
        <script src="vendor/jquery-ui/ui/jquery-ui.js"></script>
        <script src="vendor/jquery.shapeshift/core/jquery.shapeshift.min.js"></script>
        <script src="vendor/underscore/underscore.js"></script>
        <script src="vendor/angular/angular.js"></script>
        <script src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="vendor/angular-ui-utils/modules/route/route.js"></script>
        <script src="vendor/angular-mocks/angular-mocks.js"></script>
        <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="vendor/d3/d3.js"></script>
        <script src="vendor/topojson/topojson.js"></script>
        <script src="vendor/d3-cloud/d3.layout.cloud.js"></script>
        <script src="vendor/ngInfiniteScroll/ng-infinite-scroll.js"></script>
        <script src="vendor/crossfilter/crossfilter.js"></script>
        <script src='vendor/Faker/Faker.js'></script>

        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/configuration.js"></script>
        <script src="scripts/lib/webApiFaker.js"></script>

        <script src="scripts/services/toolBox.js"></script>
        <script src="scripts/services/model.js"></script>
        <script src="scripts/services/company.js"></script>
        <script src="scripts/services/category.js"></script>
        <script src="scripts/services/investor.js"></script>
        <script src="scripts/services/fundingRound.js"></script>
        <script src="scripts/services/componentData.js"></script>
        <script src="scripts/services/bitly.js"></script>
        <script src="scripts/services/browser.js"></script>

        <script src="scripts/controllers/crunchinator.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/blank.js"></script>

        <script src="scripts/directives/crD3Bar.js"></script>
        <script src="scripts/directives/crD3Pie.js"></script>
        <script src="scripts/directives/crD3Area.js"></script>
        <script src="scripts/directives/crD3Map.js"></script>
        <script src="scripts/directives/crListSelect.js"></script>
        <script src="scripts/directives/crDragArrange.js"></script>
        <script src="scripts/directives/crPlaceholder.js"></script>
        <script src="scripts/directives/crWaitThenScroll.js"></script>
        <script src="scripts/directives/crAffix.js"></script>
        <script src="scripts/directives/crFbShare.js"></script>
        <script src="scripts/directives/crEmailShare.js"></script>
        <script src="scripts/directives/crTwitterShare.js"></script>
        <script src="scripts/directives/crCrunchNav.js"></script>
        <script src="scripts/directives/crPopOpen.js"></script>
        <!-- endbuild -->


        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-48856228-1', 'crunchinator.com');
            ga('send', 'pageview');
        </script>
    </body>
</html>
