<div class="container" ng-controller="CrunchinatorCtrl">
  <h4>Environment: {{environment}}</h4>
  <div class="row">
		<div id="companies" class="span4 textlist">
			<div class="control-group">
				<div class="controls">
					<div class="input-prepend">
	  					<span class="add-on"><i class="icon-bullhorn"></i></span>
						<input ng-model="searchCompanies" placeholder="Find Companies" type="text">
					</div>
				</div>
			</div>
			<div class="dataset">
				<table class="table">
					<tr ng-repeat="company in companies.models | filter:searchCompanies">
						<td ng-click="updateSelectedItem(company)">{{company.name}}</td>
					</tr>
				</table>
			</div>
		</div>
		
		<div id="categories" class="span4 textlist">
			<div class="control-group">
				<div class="controls">
					<div class="input-prepend">
	  					<span class="add-on"><i class="icon-tags"></i></span>
						<input ng-model="searchCategories" placeholder="Find Categories" type="text">
					</div>
				</div>
			</div>
			<div class="dataset">
				<table class="table">
					<tr ng-repeat="category in categories.models | filter:searchCategories">
						<td ng-click="updateSelectedItem(category)">{{category.name}}</td>
					</tr>
				</table>
			</div>
		</div>

		<div id="investors" class="span4 textlist">
			<div class="control-group">
				<div class="controls">
					<div class="input-prepend">
	  					<span class="add-on"><i class="icon-leaf"></i></span>
						<input ng-model="searchInvestors" placeholder="Find Investors" type="text">
					</div>
				</div>
			</div>
			<div class="dataset">
				<table class="table">
					<tr ng-repeat="investor in investors.models | filter:searchInvestors">
						<td ng-click="updateSelectedItem(investor)">{{investor.name}}</td>
					</tr>
				</table>
			</div>
		</div>
  </div>
  <div ng-show="selectedItem != null" class="item-meta">
    <h4>Info for: {{ selectedItem.name }}</h4>
    <ul>
      <li ng-show="selectedItem.id != null">id - {{ selectedItem.id }}</li>
      <li ng-show="selectedItem.name != null">name - {{ selectedItem.name }}</li>
      <li ng-show="selectedItem.total_funding != null">total_funding - {{ selectedItem.total_funding }}</li>
      <li ng-show="selectedItem.category_code != null">category_code - {{ selectedItem.category_code }}</li>
      <li ng-show="selectedItem.funding_rounds != null">funding_rounds -
        <ul>
          <li ng-repeat="funding_round in selectedItem.funding_rounds">
            funding_round_{{ funding_round.id }}
            <ul>
              <li>id - {{ funding_round.id }}</li>
              <li>raised_amount - {{ funding_round.raised_amount }}</li>
              <li>funded_on - {{ funding_round.funded_on }}</li>
              <li ng-show="funding_round.investors != null">investors -
                <ul>
                  <li ng-repeat="investor in funding_round.investors">
                    investor{{ investor.id }}
                    <ul>
                      <li>id - {{ investor.id }}</li>
                      <li>name - {{ investor.name }}</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
