<a affix='2782' end='96122'
    class='forkme' target='_blank' href='https://github.com/cloudspace/angular.crunchinator.com'
>
    <img src='https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png' alt='Fork me on GitHub' />
</a>
<div class="container" id="about-header">
    <div class="row">
        <div class="header-text">
            <h2><a href="http://cloudspace.com/" class="cloudspace-logo">cloudspace</a></h2>
            <nav>
                <ul>
                    <li><a href="#faq">F.A.Q</a></li>
                    <li><a href="#about">About Us</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="container" id="pop-quiz">
    <div class="row">
        <h3>Time for a Pop Quiz, Why did we (Cloudspace) build the Crunchinator</h3>
        <ul>
            <li class="active">
                <div>
                    <span class="triangle"></span>
                    <span>We love Crunchbase but needed a better way to slice &amp; dice</span>
                    <span class="ellipsis">&hellip;</span>
                    <span class="continuation"> the data for in-house research</span>
                </div>
                <button>Continue</button>

            </li>
            <li>
                <div>
                    <span class="triangle"></span>
                    <span>We thought others would find it useful, so we made the tool</span>
                    <span class="ellipsis">&hellip;</span>
                    <span class="continuation"> public and the beautiful code open source</span>
                </div>
                <button>Continue</button>
            </li>
            <li>
                <div>
                    <span class="triangle"></span>
                    <span>We wanted a sexy D3, Angular.js, and Cross Filter demo for</span>
                    <span class="ellipsis">&hellip;</span> 
                    <span class="continuation"> big/fast data visualization projects</span>
                </div>
                <button>Continue</button>
            </li>
            <li>
                <div>
                    <span class="triangle"></span>
                    <span>We needed to refine our split-stack development: backend</span>
                    <span class="ellipsis">&hellip;</span> 
                    <span class="continuation"> engineering (AWS tuned Rails API) and our new UX group (visualizations and user experience)</span>
                </div>
                <button>Continue</button>
            </li>
            <li>
                <div>
                    <span class="triangle"></span>
                    <span>We wanted to show what we could do for your businesses.</span>
                </div>
                <button>Continue</button>
            </li>
            <li>
                <div>
                    <span class="triangle"></span>
                    <span>All of the above, of course</span>
                </div>
                <button>Continue</button>
            </li>
        </ul>
    </div>
</div>

<div id="contact-us">
    <p>If you dig it, we'd love to discuss your project to see if it would be a good fit.</p>
    <a href="#faq">Contact Us</a>
</div>

<div class="container" id="about">
    <div class="row">
        <p>
            <em>Cloudspace</em> is Todd Sampson, Eric Marcoullier and 19 killer engineers, designers and office staff. Todd and Eric founded and ran many successful startups including IGN.com (IPO), BuzzSite (flamed out), MyBlogLog (acquired by Yahoo), Gnip (going strong) and OneTrueFan (acquired by BigDoor).  We have also built, invested in and advised a wide array of startups over the last 17 years including Zynga, UberVU, Beatport, Mashery, Storify, Klout, Wetfeet, Rent Advisor, Cloud Logistics, Pocket, Yummly and many, many more.
        </p>
        <p>
            <strong>Our new mission is assisting established companies launch their own startups.</strong>
        </p>
        <p>
            We pair the unfair advantage your company’s success has created with our lean &amp; agile startup expertise to create your next great business. We don’t build cool little marketing toys. We don’t do enterprise software rollouts.  We are passionate and opinionated strategy/technology partners. We build highly valuable businesses then take them to market at startup speed.
        </p>
    </div>
</div>

<div class="container" id="faq">
    <div class="row">
        <h3>Seems you've got a couple of questions? Let's chat.</h3>
        <ul>
            <li>
                <a href='mailto:sales@cloudspace.com?subject=I have a Question'>
                    <button>Email us your question</button>
                </a>
            </li>
            <li>
                <a target='_blank' href='https://twitter.com/cloudspace'>
                    <button class="blue">Send us a tweet</button>
                </a>
            </li>
        </ul>
        <hr/>
        <h4>Here's a few answers to our most common questions</h4>
        <div class="col-md-6">
            <h5>What is Lorme Ipsum</h5>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </div>
        <div class="col-md-6">
            <h5>What is Lorme Ipsum</h5>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </div>
        <div class="col-md-6">
            <h5>What is Lorme Ipsum</h5>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </div>
        <div class="col-md-6">
            <h5>What is Lorme Ipsum</h5>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </div>
    </div>
</div>
