<div class="data-set-container">
    <h3 class="pull-left">{{title}}</h3>
    <div class="select-list textlist clear-both">
        <div class="form-group">
            <div class="controls">
                <div class="input-group data">
                    <input type="text" placeholder="search" class="form-control"
                        ng-model="selectedItem"
                        typeahead-min-length="2"
                        typeahead-wait-ms="200"
                        typeahead-on-select="selectItem()"
                        typeahead="item as item.name for item in items | filter:{name: $viewValue} | limitTo: 5"
                    />
                </div>
            </div>
        </div>
        <div class="dataset">
            <table class="table" infinite-scroll="updateScrollItems()" infinite-scroll-distance="2">
                <tbody>
                    <tr ng-repeat="item in selectedItems" ng-click="removeItem(item)" class="selected">
                        <td>{{item.name}}</td>
                    </tr>
                    <tr ng-if="selectedItems.indexOf(item) < 0" ng-repeat="item in scrollItems" ng-click="selectItem(item)">
                        <td>{{item.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>