<div class='drag-handle'></div>
<h3 class='pull-left'>
    <span>{{title}}</span>
</h3>
<p class="pull-right count">
    {{filteredItems.length}} of {{total}}
</p>
<div class='textlist clear-both'>
    <div class='dataset'>
        <table
            class='table table-hover'
            infinite-scroll="updateScrollItems()"
            infinite-scroll-distance="2"
        >
            <tbody>
                <tr ng-repeat="item in scrollItems">
                    <td>
                        <a target='_blank' href='http://crunchbase.com/company/{{item.permalink}}'>{{item.name}}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>