<div class="container">
    <div ng-show="loading" id="loading">
        <div class="alert alert-scream"><strong>Loading...</strong></div>
    </div>
    <!-- <a href="javascript:;" ng-click="getState()"><span class="glyphicon glyphicon-share"></span></a>
    <input type="text" ng-model="savedUrl" /> -->
    <div class='drag-contain' drag-arrange>
        <div>
            <div list-select
                title="Companies"
                items="companies.dataForCompaniesList"
                selected="selectedCompanies"
                total="companies.count()"
                link="true"
            ></div>
        </div>

        <div data-ss-colspan='2'>
            <div d3-cloud
                data="ComponentData.categoryWordCloudData(categories.dataForCategoryList, companies.dataForCategoriesList)"
                title="Categories"
                total="categories.count()"
                selected="selectedCategories"
            ></div>
        </div>

        <div>
            <div list-select
                title="Investors"
                items="investors.dataForInvestorsList"
                selected="selectedInvestors"
                total="investors.count()"
            ></div>
        </div>

        <div data-ss-colspan='2'>
            <div d3-map
                title="Locations"
                data="ComponentData.companyStateData(companies.dataForLocationMap)"
                selected="selectedStates"
            ></div>
        </div>

        <div data-ss-colspan='2'>
            <div d3-pie
                title="Company Statuses"
                data="ComponentData.companyStatusData(companies.dataForCompanyStatus)"
                selected="selectedStatuses"
            ></div>
        </div>

        <div data-ss-colspan='2'>
             <div d3-area
                title="Funding Activity"
                data="ComponentData.fundingRoundCount(companies.dataForFundingRoundAreaChart, '1/2000')"
                selected="selectedFundingActivity"
                extent="1/2000"
            ></div>
        </div>

        <div data-ss-colspan='2'>
             <div d3-area
                title="Acquired Date"
                data="ComponentData.acquiredOnCount(companies.dataForAcquiredOnAreaChart, '1/2006')"
                selected="selectedAquiredDate"
                extent="1/2006"
                ></div>
        </div>

        <div data-ss-colspan='2'>
             <div d3-area
                title="Founded Date"
                data="ComponentData.foundedOnCount(companies.dataForFoundedOnAreaChart, '1992')"
                selected="selectedFoundedDate"
                extent="1992"
                format="%Y"
            ></div>
        </div>

        <div data-ss-colspan='2'>
            <div d3-bars
                title="Total Funding"
                data="ComponentData.totalFunding(companies.dataForTotalFunding, companies.all)"
                selected="selectedRanges"
            ></div>
        </div>

        <div data-ss-colspan='2'>
            <div d3-bars
                title="Funding per Round"
                data="ComponentData.fundingPerRound(companies.dataForFundingPerRound, companies.all)"
                selected="selectedRoundRanges"
            ></div>
        </div>

        <div data-ss-colspan='2'>
            <div d3-bars
                title="Most Recent Funding Round"
                data="ComponentData.mostRecentFundingRound(companies.dataForMostRecentFundingRound, companies.all)"
                selected="selectedRecentRoundRanges"
            ></div>
        </div>
    </div>
</div>
