<div class="container">
    <div ng-show="loading" id="loading">
        <div class="alert alert-scream"><strong>Loading...</strong></div>
    </div>
    <!-- <a href="javascript:;" ng-click="getState()"><span class="glyphicon glyphicon-share"></span></a>
    <input type="text" ng-model="savedUrl" /> -->
    <div class='drag-contain' drag-arrange>
        <div>
            <div list-select
                chart-title="Companies"
                items="companies.dataForCompaniesList"
                selected="companyIds"
                total="companies.count()"
                link="true"
            ></div>
        </div>

        <div>
            <div d3-map
                chart-title="Company HQ"
                data="ComponentData.dataSets.companyStateData"
                selected="states"
            ></div>
        </div>

        <div>
             <div d3-area
                chart-title="Investments"
                data="ComponentData.dataSets.fundingRoundCount"
                selected="fundingActivity"
                extent="1/2000"
                ranges="true"
            ></div>
        </div>

        <div>
            <div list-select
                chart-title="Investors"
                items="ComponentData.dataSets.investorListData"
                selected="investorIds"
                total="investors.count()"
                count="true"
            ></div>
        </div>

        <div>
            <div d3-pie
                chart-title="Company Status"
                data="ComponentData.dataSets.companyStatusData"
                selected="statuses"
            ></div>
        </div>

        <div>
            <div list-select
                chart-title="Categories"
                items="ComponentData.dataSets.categoryListData"
                selected="categoryIds"
                total="categories.count()"
                count="true"
            ></div>
        </div>

        <div>
            <div d3-bars
                chart-title="Funding: Total Funding"
                data="ComponentData.dataSets.totalFunding"
                selected="ranges"
                ranges="true"
            ></div>
        </div>

        <div>
            <div d3-bars
                chart-title="Funding: Any Round"
                data="ComponentData.dataSets.fundingPerRound"
                selected="roundRanges"
                ranges="true"
            ></div>
        </div>

        <div>
            <div d3-bars
                chart-title="Funding: Latest Round"
                data="ComponentData.dataSets.mostRecentFundingRound"
                selected="mostRecentRoundRanges"
                ranges="true"
            ></div>
        </div>

        <div>
             <div d3-area
                chart-title="Acquisition Date"
                data="ComponentData.dataSets.acquiredOnCount"
                selected="acquiredDate"
                extent="1/2006"
                ranges="true"
                ></div>
        </div>

        <div>
            <div d3-bars
                chart-title="Acquisition Price"
                data="ComponentData.dataSets.acquiredValueCount"
                selected="acquiredValueRange"
                ranges="true"
            ></div>
        </div>

        <div>
            <div list-select
                chart-title="Funding: Round Name"
                items="ComponentData.dataSets.roundCodeListData"
                selected="roundCodes"
                total="fundingRounds.fundingSeries.length"
            ></div>
        </div>

        <div>
             <div d3-area
                chart-title="Founding Date"
                data="ComponentData.dataSets.foundedOnCount"
                selected="foundedDate"
                extent="1992"
                format="%Y"
                ranges="true"
            ></div>
        </div>

        <div>
            <div d3-area
                chart-title="IPO Date"
                data="ComponentData.dataSets.ipoDateData"
                selected="ipoDateRange"
                extent="1992"
                format="%Y"
                ranges="true"
            ></div>
        </div>

        <div>
            <div d3-bars
                chart-title="IPO Raise"
                data="ComponentData.dataSets.ipoValueData"
                selected="ipoValueRange"
                ranges="true"
            ></div>
        </div>
    </div>
</div>
