<nav>
    <img class="logo" src="images/logo.png"/>
    <h1><a href="#">Crunchinator</a></h1>
    <ul class="amount-counter">
        <li><span class="amount-count">0</span> Companies</li>
        <li><span class="amount-count">0</span> Investors</li>
    </ul>

    <div class="share">
        <p class="share-results">Share Results:</p>
        <ul>
            <li class="facebook"><a href="#facebook"><i class="fa fa-thumbs-up"></i>Share</a></li>
            <li class="twitter"><a href="#tweet"><i class="fa fa-twitter"></i>Tweet</a></li>
            <li class="email"><a href="#email"><i class="fa fa-envelope-o"></i>E-mail</a></li>
        </ul>
    </div>
</nav>
<div id="filters">
    <ul>
        <li><a href="#">filter 1</a></li>
        <li><a href="#">filter 2</a></li>
        <li><a href="#">filter 3</a></li>
        <li><a href="#">filter 4</a></li>
    </ul>
</div>