<a class='forkme' target='_blank' href='https://github.com/cloudspace/angular.crunchinator.com'
>
    <img src='https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png' alt='Fork me on GitHub' />
</a>
<div class='container'>
    <div class='row'>
        <div class='header-text'>
            <p class='tagline'>Slice, Filter &amp; Explore CrunchBase Data</p>
        </div>
        <a href='#' class='watch-video'>
            <img class='click' src='images/splash-video-preview.png'/>
            <span>New York travel companies that have raised at least $5million </span>
        </a>
    </div>
</div>